@primary: rgb(22, 97, 255);
@danger: darken(#ff1919, 10%);
@success: hsl(137, 66%, 30%);
@border: #d9d9d9;

@none: 0px;
@sm: 0.3rem;
@lg: 0.8rem;
@full: 100rem;

.btn-type(@type) {
  &-@{type} {
    background-color: @@type;
    &:hover {
      background-color: lighten(@@type, 9%);
    }
  }
}
.btn-round(@round) {
  &-round-@{round} {
    border-radius: @@round;
  }
}
.btn {
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  line-height: 38px;
  border: 1px solid transparent;
  padding: 0 18px;
  margin: 10px;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 2px 2px 3px @border;
  transition: all 0.1s ease-in-out;
  &:hover {
    //opacity: 0.86;
    box-shadow: 5px 5px 3px @border;
  }

  .btn-type(primary);
  .btn-type(danger);
  .btn-type(success);

  .btn-round(none);
  .btn-round(sm);
  .btn-round(lg);
  .btn-round(full);

  &-secondary {
    color: #000;
    background-color: #fff;
    border-color: @border;
  }
}
